<%- include('./partials/header')%> <%- include('./partials/navbar')%>

<div class="container">
	<div class="row">
		<div class="col-6 mx-auto d-flex flex-column justify-content-center">
			<div class="d-flex justify-content-center">
				<img src="/img/cipher.webp" alt="" class="" />
			</div>
			<h2 class="text-center my-3">Welcome</h2>
			<div class="d-flex gap-2 justify-content-center">
				<a href="/login" class="btn btn-info rounded-pill w-75 fs-4">Start</a>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer')%>
